body {
  background-image: url(https://www.h2-mobile.fr/img/post-h2/hyundai-nexo-record-autonomie_151119.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: georgia;
  height: 1000px;
  color: white;
  background-color: #000;
}

.fix {
  position: fixed;
  z-index: 7;
  background: green;
  width: 330px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: rgba(0, 0, 0, 0.43);
  right: 5%;
}

.extra {
  height: 100px;
}

@media (min-height: 768px) {
  #wrapper {
    height: 2000px;
  }
}

/* Syle du bouton Déconnexion, Page Home*/

.button {
  border-radius: 4px;
  background-color: #931816;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 124px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.publiannonce {
  flex-direction: column;
  width: 20%;
  margin-bottom: 5rem;
  background-color: gray;
  opacity: 45%;
  color: #000;
  border-radius: 10px;
  border-top: 4px solid red;
  display: flex;
}
