body {

    background-image: url(https://swall.teahub.io/photos/small/10-104204_road-wallpaper-freeway.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
img{
    width: 160px;
    
}
header{
    display: flex;
    align-items: center;
    background-color: rgba(164, 164, 164, 0.536);
    position:absolute;
    top:0;  
    width:100%;
    height:66px;   
    margin-left:-1%;
    
    
}
menu{
    display: flex;
    margin-left: 55%;
    
}
a{
    color: rgb(127, 199, 45);
    border-style: none;
    margin-right: 8%;
    font-size: 19px;
    font-weight: bolder;
    text-decoration: none;
}
.formconnect{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    
}
.formconnect2{
    display: flex;
    flex-direction: column;
    gap: 10%;
  
}

button {
    width: 110px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
  }
  
  button {
    font-size: 10px;
    background-color: rgb(219, 217, 217);
    border: 2px solid rgb(127, 199, 45);
    border-radius: 10px;
    -webkit-transition: all .10s ease-in-out;
    transition: all .10s ease-in-out;
    color: #000000;
  }
  button:hover {
    box-shadow: 0 0 10px 0 rgb(127, 199, 45) inset, 0 0 20px 2px rgb(127, 199, 45);
    border: 3px solid rgb(127, 199, 45);
  }
  










footer {
    background-color: rgb(127, 199, 45);
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    opacity: 80%;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:30px;   /* Hauteur du pied de page */
    margin-left:-1%;
    
}
  

  